.ContainerExport{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: #1F1F1F; */
    /* height: 100vh; */
}

.ContentExport{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    /* background-color: #8b4848; */
    width: 95%;
    /* color: #f1f1f1; */
}

.ButtonExport{
    display: flex;
    /* background-color: #1F1F1F; */
    flex-direction: row-reverse;
    align-self: center;
    width: 80%;
    height: 80px;
    margin-top: 50px;
}

.PaginationExport{
    display: flex;
    /* background-color: #1F1F1F; */
    justify-content: center;
    align-self: center;
    width: 80%;
}