.Container{
    display: flex;
    align-items: flex-start;
    background-color: #1F1F1F; 
}
.Content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* background-color: rgb(142, 207, 57); */
    height: 100vh;
    
}

.Header{
    display: flex;
    background-color: #46CBE8;
    height: 50px;
    padding: 5px;
    align-items: center;
}

.Body{
    padding: 2vh;
    flex-grow: 1;
    overflow-y: scroll;
}

#icon{
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

/* .Sidebar{
    height: 100%;
    background-color:black;
} */