.Container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f10f0f;
}

.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 40vh;
    background-color: #291268;
}


.Image{
    display: flex;
    justify-content: center;
}

.Logo{
    height: 30vh;
    width: auto;
}