.Container{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    background-color: #1F1F1F;
}
.Content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F1F1F;
    height: 880px;
    width: 100%;
}

.Header{
    display: flex;
    background-color: #46CBE8;
    height :60px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}

.BodyMain{
    display: flex;
    background-color: #1F1F1F;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* border-radius: 100; */

    height: 200px;
    width: 200px;
}

.CenterTd{
    display: flex;
    width: 80%;
    justify-content: center;
}

.Search_Button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    align-self: center;
}

.Profile{
    display: flex;
    flex-direction: column;
    /* margin-right: 15px; */
    /* color: #1F1F1F; */
    color: white;
    /* margin-top: 5px; */
    background-color: #1F1F1F;
}

.tabLeft{
    margin-left: 10px;
}

.tab{
    margin-top:5px;
    margin-right: 20px;
    margin-left: 20px;
}

.rank{
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
}

/* ------------------------------- Stocking ------------------------------------- */

.ContentStocking{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    background-color: #1F1F1F;
    height: 100vm;
    width: 100%;
    color: #f1f1f1;
}

.Button{
    display: flex;
    background-color: #1F1F1F;
    flex-direction: row-reverse;
    align-self: center;
    width: 90%;
    height: 80px;
}